* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.row, .container, .container-fluid {
  margin: 0;
  padding: 0;
}

.bodyIndex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 800px 1fr 400px;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "footer footer footer footer";
}

header {
  margin: auto;
  grid-area: header;
}

@media (max-width: 1380px) {
  header {
    margin: auto;
  }
}
@media (max-width: 1000px) {
  header {
    margin: 0;
  }
  header .container {
    --bs-gutter-x: 0rem;
  }
}
.navegador {
  grid-area: nav;
  background-color: rgb(3, 47, 97);
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.navegador .fa-bars {
  display: none;
}
.navegador ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.navegador ul li a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 30px;
}

.logo {
  width: 64px;
  margin: 10px;
}

@media (max-width: 831px) {
  .navegador {
    justify-content: space-between;
  }
  .navegador .fa-bars {
    display: block;
    color: white;
    font-size: 30px;
    padding: 20px;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    flex-direction: column;
    background-color: rgb(3, 47, 97);
    width: 250px;
    height: 100vh;
    justify-content: start;
    padding-top: 60px;
    align-items: center;
    left: -300px;
    transition: 0.2s;
    z-index: 1px;
  }
  .navegador ul:hover {
    left: 0;
  }
}
main {
  grid-area: main;
}
main .padreIndex {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  gap: 50px;
}
main .padreIndex .baseTeorica {
  width: 300px;
  border: solid 2px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  background-color: rgb(3, 47, 97);
}
main .padreIndex .baseTeorica h2 {
  margin: 10px;
  font-size: 40px;
  color: white;
}
main .padreIndex .baseTeorica p {
  margin: 10px;
  font-size: 20px;
  color: white;
}
main .padreIndex .baseTeorica ul {
  margin: 10px;
  font-size: 20px;
  color: white;
}

.sobreMetalurgica {
  background-color: rgb(3, 47, 97);
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
.sobreMetalurgica p {
  padding: 150px;
  width: 1300px;
  font-size: 20px;
  justify-content: end;
  text-align: center;
  color: white;
}
.sobreMetalurgica img {
  width: 300px;
  margin: auto;
  padding: 10px;
}

.tituloSobreMetalurgica {
  margin: 30px;
  padding: 10px;
  margin-top: 150px;
  text-align: center;
  font-size: 30px;
}

.titulo__trabajarConmigo {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-top: 130px;
}

.porqueTrabajarConmigo {
  margin: 100px;
  display: flex;
  justify-content: space-between;
}
.porqueTrabajarConmigo .imgTrabajarConNosotros {
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.5);
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
.porqueTrabajarConmigo .imgTrabajarConNosotros2 {
  display: none;
}
.porqueTrabajarConmigo p {
  padding: 50px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 1px 20px 5px rgb(3, 47, 97);
}

@media (max-width: 1000px) {
  .porqueTrabajarConmigo {
    flex-direction: column;
  }
}
@media (max-width: 980px) {
  main .padreIndex {
    margin-top: -150px;
  }
}
@media (max-width: 900px) {
  main .padreIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
  }
  main .padreIndex .baseTeorica {
    height: 470px;
    margin-top: 0;
  }
  main .padreIndex .baseTeorica > h2 {
    font-size: 23px;
    text-align: center;
  }
  main .padreIndex .baseTeorica > p, main .padreIndex .baseTeorica ul {
    font-size: 18px;
  }
}
@media (max-width: 860px) {
  .porqueTrabajarConmigo {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .sobreMetalurgica {
    flex-direction: column;
  }
  .sobreMetalurgica img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 300px;
    padding: 10px;
    margin: auto;
  }
  .sobreMetalurgica p {
    font-size: 18px;
    text-align: start;
    margin: auto;
    width: 100%;
    padding: 80px;
  }
  .tituloSobreMetalurgica {
    font-size: 25px;
    text-align: center;
  }
  .porqueTrabajarConmigo {
    flex-direction: column;
  }
  .imgTrabajarConNosotros {
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 760px) {
  main .padreIndex {
    margin-top: -200px;
  }
}
@media (max-width: 700px) {
  .imgTrabajarConNosotros {
    height: 300px;
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 600px) {
  .porqueTrabajarConmigo {
    margin: auto;
  }
  .porqueTrabajarConmigo .imgTrabajarConNosotros {
    display: none;
  }
  .porqueTrabajarConmigo .imgTrabajarConNosotros2 {
    display: flex;
    padding: 20px;
  }
  .porqueTrabajarConmigo p {
    font-size: 16px;
    width: 100%;
    margin: auto;
    text-align: start;
    padding: 15px;
  }
  .titulo__trabajarConmigo {
    font-size: 25px;
  }
  .tituloSobreMetalurgica {
    font-size: 25px;
  }
  main .padreIndex {
    margin-top: -250px;
  }
}
@media (max-width: 500px) {
  main .padreIndex {
    margin-top: -300px;
  }
}
@media (max-width: 450px) {
  main .padreIndex {
    margin-top: -390px;
  }
}
@media (max-width: 400px) {
  main .padreIndex {
    margin-top: -410px;
  }
}
.footer {
  background-color: rgb(3, 47, 97);
  margin-top: 100px;
  margin-bottom: 0px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  grid-area: footer;
}
.footer .accesos {
  color: white;
  padding: 20px;
  margin-left: 20px;
}
.footer .accesos h2 {
  padding: 20px;
}
.footer .accesos ul li a {
  color: white;
}
.footer .accesos li {
  padding: 5px;
  font-size: 14px;
}
.footer .descFooter {
  margin-top: 50px;
  margin-right: 150px;
}
.footer .descFooter ul a {
  color: white;
  text-decoration: none;
}
.footer .descFooter li {
  padding: 5px;
  font-size: 14px;
}
.footer .descFooter a {
  padding: 5px;
}

.padre__productos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.padre__productos .producto {
  width: 450px;
}
.padre__productos .producto img {
  height: 500px;
  width: 100%;
}
.padre__productos .producto .img__producto2 {
  height: 350px;
  width: 100%;
}
.padre__productos .producto h3 {
  margin: 10px;
  font-size: 30px;
}
.padre__productos .producto p {
  margin: 10px;
  font-size: 18px;
}
.padre__productos .producto button {
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  padding: 4px;
}
.padre__productos .producto button:hover {
  background-color: rgba(255, 255, 255, 0.788);
}
.padre__productos .productoElectrico {
  width: 450px;
  height: 700px;
}
.padre__productos .productoElectrico img {
  height: 500px;
  width: 100%;
}
.padre__productos .productoElectrico .img__producto2 {
  height: 350px;
  width: 100%;
}
.padre__productos .productoElectrico h3 {
  margin: 10px;
  font-size: 30px;
}
.padre__productos .productoElectrico p {
  margin: 10px;
  font-size: 18px;
}
.padre__productos .productoElectrico button {
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  padding: 4px;
}
.padre__productos .productoElectrico button:hover {
  background-color: rgba(255, 255, 255, 0.788);
}

@media (max-width: 1100px) {
  .padre__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .padre__productos .producto h3 {
    font-size: 23px;
  }
  .padre__productos .producto p {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .padre__productos {
    width: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .padre__productos .producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    align-items: center;
  }
  .padre__productos .producto img {
    height: 400px;
    width: 100%;
    margin: auto;
  }
  .padre__productos .producto .img__producto2 {
    height: 250px;
    width: 100%;
  }
  .padre__productos .producto h3 {
    font-size: 18px;
  }
  .padre__productos .producto p {
    font-size: 14px;
  }
}
.desc__productos {
  width: 100%;
  height: 250px;
  margin-bottom: 150px;
  margin-top: 50px;
  padding: 50px;
  font-size: 20px;
  background-color: rgb(3, 47, 97);
  color: white;
}

@media (max-width: 1100px) {
  .desc__productos {
    padding: 30px;
  }
}
@media (max-width: 800px) {
  .tituloPaginas {
    font-size: 25px;
  }
  .desc__productos {
    font-size: 18px;
    padding: 30px;
  }
}
@media (max-width: 650px) {
  .desc__productos {
    height: 300px;
  }
}
@media (max-width: 530px) {
  .desc__productos {
    height: 350px;
  }
}
@media (max-width: 470px) {
  .desc__productos {
    height: 400px;
  }
}
@media (max-width: 430px) {
  .desc__productos {
    height: 450px;
  }
}
@media (max-width: 390px) {
  .desc__productos {
    height: 500px;
  }
}
.servicio {
  width: 400px;
  overflow: hidden;
}
.servicio img {
  height: 350px;
  width: 100%;
}
.servicio h3 {
  margin: 10px;
  text-align: center;
  padding: 20px;
}

@media (max-width: 420px) {
  .servicio {
    width: 300px;
    border: solid 2px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 100px;
    background-color: rgb(3, 47, 97);
    text-align: center;
    color: white;
  }
  .servicio img {
    height: 250px;
    width: 100%;
  }
  .servicio h3 {
    margin: 10px;
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .padre {
    margin-top: 20px;
  }
}
.caja {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: solid 2px;
  padding: 10px;
  background-color: rgb(3, 47, 97);
  color: white;
}
.caja p {
  padding: 5px;
}

iframe {
  width: 100%;
}

@media (max-width: 1390px) {
  .caja p {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .caja p {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .caja p {
    font-size: 15px;
  }
}
.formulario {
  padding: 30px;
  max-width: 1000px;
  margin: 20px auto;
  background-color: rgb(3, 47, 97);
  border-radius: 10px;
  box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 30px 1fr 50px;
  grid-template-areas: "titulo   titulo" "nombre   apellido" "numero   email" "ciudad   provincia" "servicio servicio" "msj      msj" "boton    boton";
}
.formulario h2:nth-child(1) {
  grid-area: titulo;
  color: white;
  text-align: center;
}
.formulario select:nth-child(8) {
  grid-area: servicio;
  text-align: center;
}
.formulario button:nth-child(10) {
  grid-area: boton;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
}
.formulario button:nth-child(10):hover {
  background-color: rgba(255, 255, 255, 0.788);
}
.formulario label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.formulario label:nth-child(2) {
  grid-area: nombre;
}
.formulario label:nth-child(3) {
  grid-area: apellido;
}
.formulario label:nth-child(4) {
  grid-area: numero;
}
.formulario label:nth-child(5) {
  grid-area: email;
}
.formulario label:nth-child(6) {
  grid-area: ciudad;
}
.formulario label:nth-child(7) {
  grid-area: provincia;
}
.formulario label:nth-child(9) {
  grid-area: msj;
}
.formulario label input, .formulario label textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
}
.formulario label input {
  color: white;
}

@media (max-width: 550px) {
  .formulario {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 30px 1fr 50px;
    grid-template-areas: "titulo   " "nombre " "apellido" "numero " "email" "ciudad " "provincia" "servicio" "msj" "boton";
  }
  .formulario h2:nth-child(1) {
    grid-area: titulo;
  }
  .formulario label:nth-child(2) {
    grid-area: nombre;
  }
  .formulario label:nth-child(3) {
    grid-area: apellido;
  }
  .formulario label:nth-child(4) {
    grid-area: numero;
  }
  .formulario label:nth-child(5) {
    grid-area: email;
  }
  .formulario label:nth-child(6) {
    grid-area: ciudad;
  }
  .formulario label:nth-child(7) {
    grid-area: provincia;
  }
  .formulario label:nth-child(9) {
    grid-area: msj;
  }
  .formulario select:nth-child(8) {
    grid-area: servicio;
  }
  .formulario button:nth-child(10) {
    grid-area: boton;
  }
  .formulario button:nth-child(10):hover {
    background-color: rgba(255, 255, 255, 0.788);
  }
}
@media (max-width: 460px) {
  .formulario select:nth-child(8) {
    width: 300px;
  }
}
.tituloPaginas {
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  color: black;
}

.padre__productos .producto, .padre__productos .productoElectrico, .servicio {
  border: solid 2px;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 150px;
  background-color: rgb(3, 47, 97);
  text-align: center;
  color: white;
}