%tituloPaginas{
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    color: black;
}
%tarjetaServicio{
    width: 400px;
    overflow: hidden;
    border: solid 2px;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 150px;
    background-color: $colorPrincipal;
    text-align: center;
    color: $colorSecundario;
}