.footer{
    background-color: $colorPrincipal;
    margin-top: 100px;
    margin-bottom: 0px;
    color: $colorSecundario;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    grid-area: footer;
    .accesos{
        color:$colorSecundario;
        padding: 20px;
        margin-left: 20px;
        h2{
            padding: 20px;
        }
        ul li a{
            color: $colorSecundario; 
            &:hover{
                color: rgb(134, 132, 132);
            }   
        }
        li{
            padding: 5px;
            font-size: 14px;
        }
    }
    .descFooter{
        margin-top: 50px;
        margin-right: 150px;
        ul a{
            color: $colorSecundario;
            text-decoration: none;
            &:hover{
                color: rgb(137, 135, 135);
                font-size: 18px; 
            }
        }
        li{
            padding: 5px;
            font-size: 14px;
        }
        a{
            padding: 5px;  
        }
    }
}


