.footer{
    background-color:rgb(3, 47, 97);
    margin-top: 100px;
    margin-bottom: 0px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    grid-area: footer;
    .accesos{
        color:white;
        padding: 20px;
        margin-left: 20px;
        h2{
            padding: 20px;
        }
        ul li a{
            color: white;    
        }
        li{
            padding: 5px;
            font-size: 14px;
        }
    }
    .descFooter{
        margin-top: 50px;
        margin-right: 150px;
        ul a{
            color: white;
            text-decoration: none;
        }
        li{
            padding: 5px;
            font-size: 14px;
        }
        a{
            padding: 5px;  
        }
    }
}


