.navegador{
    grid-area: nav;
    background-color:$colorPrincipal ;
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    .fa-bars{
        display: none;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        li a{
            display: flex;
            color: $colorSecundario;
            text-decoration: none;
            padding: 30px;
            &:hover{
                color: rgba(255, 255, 255, 0.662);
                font-size: 17px;
            }
        }
    }
}
.logo{
    width: 64px;
    margin: 10px;
}
@media(max-width:831px){
    .navegador{
        justify-content: space-between;
        z-index: 9999;
    }
    .navegador .fa-bars{
        display: block;
        color: $colorSecundario;
        font-size: 30px;
        padding: 20px;
    }
    .navegador .fa-bars:hover + ul{
        left: 0;
    }
    .navegador ul{
        position: fixed;
        flex-direction: column;
        background-color: $colorPrincipal;
        width: 250px;
        height: 100%;
        justify-content: start;
        padding-top: 60px ;
        align-items: center;
        left: -300px;
        transition: 0.2s;
        z-index: 9999;
    }
    .navegador ul:hover{
        left: 0;
    }
}
