.wrapper{
   display: grid;
   grid-template-columns: 1fr 4fr;
   background-color: aqua; 
}
aside{
    padding: 2rem;
    color: white;
    position: sticky;
    height: 100vh;
    top: 0;
}

.logo-carrito{
    font-weight: 400;
    font-size: 1.3rem ;
    
}

