.caja{
    @include caja(white,rgb(3, 47, 97));
    p{
        padding: 5px;
    }
}
iframe{
    width: 100%;
}
@media(max-width:1390px){
    .caja{
        p{
            font-size: 15px;
        }
    }
}
@media(max-width:1200px){
    .caja{
        p{
            font-size: 17px;
        }
    }
}
@media(max-width:400px){
    .caja{
        p{
            font-size: 15px;
        }
    }
}